.bds-text-area-field::placeholder {
  color: var(--_color---text--muted);
}

.bds-text-area-field:hover:not(:disabled):not(:focus) {
  border-color: var(--_color---border--brand-primary);
}

.bds-text-area-field:focus {
  border-color: var(--_color---border--brand-primary);
  outline: none;
}

.bds-text-area-field:disabled {
  background-color: var(--_color---surface--secondary);
  color: var(--_color---text--muted);
  cursor: not-allowed;
  opacity: 0.5;
}

.bds-text-area-field:disabled::placeholder {
  color: var(--_color---text--muted);
}
