/* Text-size styles */
--display--xl: 116.9000015258789px;
--display--lg: 92.19999694824219px;
--display--md: 81.9000015258789px;
--display--sm: 72.80000305175781px;
--heading--huge: 45.5px;
--heading--xxl: 40.5px;
--heading--xl: 36px;
--heading--lg: 32px;
--heading--md: 28.5px;
--heading--sm: 25.299999237060547px;
--heading--xs: 22.5px;
--heading--tiny: 22.5px;
--label--huge: 25.299999237060547px;
--label--xl: 20px;
--label--lg: 18px;
--label--md-[base]: 16px;
--label--sm: 14px;
--label--xs: 11.539999961853027px;
--label--tiny: 10.260000228881836px;
--body--huge: 25.299999237060547px;
--body--xl: 20px;
--body--lg: 18px;
--body--md: 16px;
--body--sm: 14px;
--body--xs: 11.539999961853027px;
--body--tiny: 10.260000228881836px;
--solid-icon--huge: 22.5px;
--solid-icon--xl: 20px;
--solid-icon--lg: 18px;
--solid-icon--md: 16px;
--solid-icon--sm: 14px;
--solid-icon--xs: 11.539999961853027px;
--solid-icon--tiny: 10.260000228881836px;
--outline-icon--huge: 22.5px;
--outline-icon--xl: 20px;
--outline-icon--lg: 18px;
--outline-icon--md: 16px;
--outline-icon--sm: 14px;
--outline-icon--xs: 11.539999961853027px;
--outline-icon--tiny: 10.260000228881836px;
--brand-icon--huge: 22.5px;
--brand-icon--xl: 20px;
--brand-icon--lg: 18px;
--brand-icon--md: 16px;
--brand-icon--sm: 14px;
--brand-icon--xs: 11.539999961853027px;
--brand-icon--tiny: 10.260000228881836px;
--quote--xl: 36px;
--quote--lg: 32px;
--quote--md: 25.299999237060547px;
--quote--sm: 16px;
--quote--xs: 14px;

/* Effect styles */
--shadow-xl:  0px 4px 32px rgba(0, 0, 0, 0.24);
--shadow-lg:  0px 4px 24px rgba(0, 0, 0, 0.24);
--shadow-md:  0px 4px 24px rgba(0, 0, 0, 0.24);
--shadow-sm:  0px 4px 12px rgba(0, 0, 0, 0.24);
